<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="Indexstyles.css">
</head>

<body>

    <header>
        <div class="navbar">
            <h1>InvestMate</h1>
            <img src="frontend/static/images/IM_LOGO.png" alt="InvestMate Logo" class="logo">
            <button class="sign-in" onclick="window.location.href='usersigninpage.html';">Sign In</button>
        </div>
    </header>

    
    <section class="welcome">
        <h1>Welcome to InvestMate!</h2>
        <p>We're glad you're here!</p>
    </section>

    
    <section class="containers">
        <div class="feature">
            <div class="image-placeholder">
                <img src="frontend/static/images/buyandsellstocks.png" alt="Buy and Sell Stocks">
            </div>
            <div class="feature-text">
                <p>Buy and Sell Stocks</p>
            </div>
        </div>

        <div class="feature">
            <div class="image-placeholder">
                <img src="frontend/static/images/portfolio.png" alt="Real-time Portfolio">
            </div>
            <div class="feature-text">
                <p>View Real-Time Portfolio</p>
            </div>
        </div>

        <div class="feature">
            <div class="image-placeholder">
                <img src="frontend/static/images/transactionhistory.png" alt="transaction History">
            </div>
            <div class="feature-text">
                <p>Show Transaction History</p>
            </div>
        </div>

    </section>

    <section class="create-acc">
        <p>All of this and more!</p>
        <p>Don't have an InvestMate Account?</p>
        <button class="create-account" onclick="window.location.href='createnewaccount.html';">Create A New Account</button>
    </section>

</body>
</html>
