<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="landingstyles.css">
</head>

<body>

    <header>
        <div class="navbar">
            <h1>InvestMate</h1>
            <button class="sign-in" onclick="window.location.href='usersigninpage.html';">Sign In</button>
        </div>
    </header>

    
    <section class="welcome">
        <h2>Welcome to InvestMate!</h2>
        <p>We're glad you're here!</p>
    </section>

    
    <section class="containers">
        <div class="feature">
            <div class="image-placeholder">Picture1</div>
            <p>Buy and Sell Stocks</p>
        </div>

        <div class="feature">
            <div class="image-placeholder">Picture2</div>
            <p>View Real-Time Portfolio</p>
        </div>

        <div class="feature">
            <div class="image-placeholder">Picture3</div>
            <p>Show Transaction History</p>
        </div>

    </section>

    <section class="create-acc">
        <p>All of this and more!</p>
        <p>Don't have an InvestMate Account?</p>
        <button class="create-account" onclick="window.location.href='createnewaccount.html';">Create A New Account</button>
    </section>

</body>
</html>
